<h1>ヒロゲウタ</h1>

<p>こんにちは <%= @user.name %> さん</p>

<p>
Welcome to the ヒロゲウタ!:下のリンクをクリックしてメール認証を完了させてください
</p>

<%= link_to "アカウントを有効にする", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

