<h1>パスワード再設定</h1>

<p>このリンクをクリックしてパスワード再設定を行ってください:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間後に無効になります.</p>

<p>
上のリンクからパスワード再設定を行わなかった場合、このメールは無視してください。また、パスワードは再設定されず、以前のままです。.
</p>
