<%#  自分の投稿に対するいいね、コメントは通知に表示しない %>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %> 
  <% if notifications.exists?  %> 
    <div class="background-image">
    <h1 class="text-center mb-3">通知</h1>
    <%=  render notifications %> 
    <%=  paginate notifications %> 
    </div>
    <div class="background-image">
    </div>
  <% else %> 
    <div class="background-image">
      <h1 class="text-center mb-3">通知はありません</h1>
    </div>
  <% end %>