<div class="background-image">     
    <div class="row align-items-center" style="height:80%">
        <div class="card border-light offset-lg-4 col-lg-5 card-wrapper" >
                <div class="card-body text-center">
                    <h1 class="card-title h1">ヒロゲウタへようこそ</h5>
                    <p class="card-text h3">自分の好きな歌をシェアしましょう！</p>
                    <hr class="my-4">
                    <p>「アーティスト名」、「曲名」、「Youtube url」、「曲紹介」の4つの項目で簡単にシェアできます</p>
                    <%= link_to "シェアする", new_micropost_path, class: "btn btn-primary btn-lg" %>
                </div>
                <div class="card-body text-center">
                    <hr class="my-2">
                    <p>無料で登録しよう！</p>
                    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
                </div>
        </div>  
    </div>
</div>
