@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

nav.pagination {
  display: none;
}

.no_image {
  width: 32px;
}

.footer {
  text-decoration: none;
  color: white;
}